.DS_Store
*.code-workspace
cnn/cifar/mlx/mlx-cifar-10-cnn
cnn/cifar/mlx/*.npz
cnn/cifar/torch/torch-cifar-10-cnn
cnn/cifar/torch/*.pth
cnn/cifar/torch/data/
cnn/cifar/mlx/models
cnn/cifar/torch/models
vae/torch/torch-vae/
vae/torch/data/
vae/torch/data
gan/torch/data
gan/torch/torch-gan
*/__pycache__/
multi_layer_perceptron/torch/data
cnn/mnist/torch/data/
